@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* 
    The container is raping the page. all content should be put in a div with the container class
 */
.container {
    height: 100%;
    width: 100%;
    background-image: url('../include/img/back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
    nav_container contains the nav bar content
 */
.nav_container{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

/* 
    nav_content is used for all divs in the navbar. In our nav this is the div containing 
 */
.nav_content{
    width: 20%;
    height: 5em;
    display: flex;
    align-items: center;
}

/* 
    logo is the class dedicated to the div in the nav that currently says "Placeholder"
 */
.logo {
    color: white;
    margin-left: 5%;
}

/* 
    This class is meant for all buttons
 */
.btn{
    box-shadow: -1px -1px 2px #FFFFFF, 1px 1px 2px #000000;
    text-decoration: none;
}

/* 
    This class is putt on the buttons tat is currently active and have been pressed
 */
 .active{
    background: rgba(115, 43, 31, 0.01);
    box-shadow: inset -1px -1px 2px #FFFFFF, inset 1px 1px 2px #000000;
}

/* 
    This is tha class that contains the nav buttons
 */
.nav_btn_container{
    justify-content: space-between;
}

/* 
    This is tha class for the buttons in the navbar
 */
.nav_btn{
    width: 45%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(115, 43, 31, 0.35);
    border-radius: 20px;
}

/* 
    This is thor the text in the nav buttons
 */
.nav_btn_text{
    color: white;
    font-size: 1.5em;
}

/* 
    This container is for the profile/account button on the right side of the nav
 */
.profile_container{
    justify-content: right;
}

/* 
    This is the profile/account button class
 */
.profile{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5%;
    background: rgba(115, 43, 31, 0.35);
    box-shadow: -1px -1px 2px #FFFFFF, 1px 1px 2px #000000;
}

/* 
    This class is for the div that contains the hero button
 */
.hero_btn_container{
    margin-top: 25em;
    display: flex;
    justify-content: center;
}

/* 
    This is for the button in the center of the home page
 */
.hero_button {
    height: 1.5em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    background: rgba(115, 43, 31, 0.35);
}
